body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#project_name_title{
    margin: 20px 0px 0px 0px;
    padding: 0;
}
#all_states_container{
    margin: 20px 0px 0px 0px;
}
.state_container{
    display: inline-block;
    border: 1px solid red;
    padding: 20px;
    margin: 0px 20px 0px 0px;
    width: fit-content;
}
.task_container{
    margin: 20px;
    padding: 40px;
    background-color: #101213;
    position: relative;
}
.close_span{
    padding: 0px 7px 5px 7px;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: #181a1b;
}

.close_span:hover{
    background-color: #380000;
}